- content_for :full_width_header do
  #header.heading{:style => "background-image: url(img/img01.jpg);"}
    .container
      .row
        .col-md-10.col-md-offset-1.col-sm-12
          .page-title
            %h2
              Contacto
          %ol.breadcrumb
            %li= link_to "Inicio", root_path
            %li.active Contacto

- content_for :content do
  #contentz
    .container
      .row
        .col-md-12
          .blog-container
            .blog-content
              / <div id="map"></div>
              .blog-title
                %h2
                  - if @contacto_mensaje.propiedad
                    ¿Le interesa esta propiedad?
                  - else
                    ¿Interesado en alguna propiedad?
                %h3 No dude en contactarnos por medio de nuestro formulario
              .blog-text.contact
                .row
                  .col-md-8.col-sm-7
                    = render partial: "form", locals: {contacto_mensaje: @contacto_mensaje}
                    %br
                  .col-md-4.col-sm-5
                    %address
                      %h4 Costa 506 Real Estate
                      = CONTACT_INFO['direccion']
                      %br/
                      = CONTACT_INFO['email']
                      %br
                        %br
                          %h4 Teléfonos
                          - CONTACT_INFO['telefonos'].each do |telefono|
                            %div
                              = telefono['numero']
