.row
  %form{:method => "GET", :role => "form", action: propiedades_path}
    .col-md-12.col-sm-12.col-xs-12
      .form-group
        .btn-group.btn-group-justified.btn-group-listado{ data: { toggle: 'buttons' } }
          - [['venta_alquiler', (I18n.t 'filters.both')],
             ['alquiler', (I18n.t 'filters.rent')],
             ['venta', (I18n.t 'filters.sale')]].each do |value, label|
            %label.btn.btn-success{ class: (value == params[:listado].to_s ? 'active' : '') }
              = radio_button_tag :listado, value, (value == params[:listado].to_s), class: 'listado-control'
              = label

    .col-md-12.col-sm-12.col-xs-12
      .form-group
        %label{for: :provincia_id}= t(:ubicación)
        = select_tag :provincia_id,
                               options_for_select([['cualquiera...', nil]] + Provincia.all.map { |p| [p.nombre, p.nombre, { 'data-provincia-id': p.id }] }, params[:provincia_id]),
                               class: 'form-control'
        = select_tag :canton_id_copy,
                               options_for_select([['cualquiera...', nil]] + Canton.all.map { |c| [c.nombre, c.nombre, { 'data-provincia-id': c.provincia_id, 'data-canton-id': c.canton_id }]}),
                               class: 'form-control', style: 'display: none;'
        = select_tag :canton_id, nil, style: 'display: none;'
        = select_tag :distrito_id_copy,
                               options_for_select([['cualquiera...', nil]] + Distrito.all.map { |d| [d.nombre, d.nombre, { 'data-provincia-id': d.provincia_id, 'data-canton-id': d.canton_id }] }),
                               class: 'form-control', style: 'display: none;'
        = select_tag :distrito_id, nil, style: 'display: none;'
    .col-md-6.col-sm-6.col-xs-6
      .form-group
        %label{for: :tipo}= t(:tipo)
        = select_tag :tipo,
                               options_for_select([['cualquiera...', nil]] + Tipo.pluck(:titulo, :id), params[:tipo]),
                               class: 'form-control'
      .form-group
        %label{for: :dormitorios}= t(:dormitorios)
        = select_tag :dormitorios,
                               options_for_select([['cualquiera...', nil]] + integer_1_10_options, params[:dormitorios]),
                               class: 'form-control'
    .col-md-6.col-sm-6.col-xs-6
      .form-group
        %label{for: :estacionamiento}= t(:estacionamiento)
        = select_tag :estacionamiento,
                     options_for_select([['cualquiera...', nil]] + integer_1_10_options, params[:estacionamiento]),
                     class: 'form-control'
      .form-group
        %label{for: :banos}= t(:banos)
        = select_tag :banos,
                               options_for_select([['cualquiera...', nil]] + float_1_10_options, params[:banos]),
                               class: 'form-control'
    .col-md-12.col-sm-12.col-xs-12
      - if [:venta, :venta_alquiler].include?(params[:listado] ? params[:listado].to_sym : nil) || params[:listado].nil?
        .form-group
          %label{for: :valor_compra}= t(:price_range)
          = select_tag :valor_compra,
                       options_for_select([['cualquiera...', nil]] + valor_compra_options, params[:valor_compra]),
                       class: 'form-control'
      - if [:alquiler, :opcion_compra, :venta_alquiler].include?(params[:listado] ? params[:listado].to_sym : nil)
        .form-group
          %label{for: :valor_alquiler}= t(:valor_alquiler)
          = select_tag :valor_alquiler,
                       options_for_select([['cualquiera...', nil]] + valor_alquiler_options, params[:valor_alquiler]),
                       class: 'form-control'

    .col-md-12.col-sm-12.col-xs-12
      .form-group
        %label{for: 'keywords'}= t(:keywords)
        %input.form-control{type: 'search', name: 'keywords', value: params[:keywords]}

    .col-md-12.col-sm-12.col-xs-12
      .form-group
        %label
          = check_box_tag :estado, '1', ('1' == params[:estado])
          = I18n.t 'filters.show_rented_and_sold'

    .col-md-12.col-sm-12.col-xs-12
      %input.btn.btn-success.btn-lg.btn-block{type: :submit, value: t(:search)}
