.col-md-12.col-sm-12.col-xs-12{:style => "position: absolute; left: 0px; top: 0px;"}
  .property-container
    .property-content-list
      .property-image-list
        - if propiedad.imagenes.any?
          %img{:alt => "#{propiedad.titular}", :src => propiedad.imagenes.first.imagen.url }
            .property-price
              %h4
                = propiedad.tipo
              = propiedad_all_prices(propiedad)
            .mycarousel
              %ul.mensajes-especiales
                - propiedad.mensajes.each do |mensaje|
                  %li{:data => {:color => mensaje.color }}
                    = mensaje.mensaje
          .property-status
            %span= propiedad.tipo.titulo if propiedad.tipo
          .property-features
            - unless propiedad.area_construccion.nil?
              %span
                %i.fa.fa-home
                #{propiedad.area_construccion} m
                %sup 2
            - unless propiedad.area_construccion.nil?
              %span
                %i.fa.fa-hdd-o
                #{propiedad.dormitorios} Dormitorios
            - unless propiedad.banos.nil?
              %span
                %i.fa.fa-male
                #{propiedad.banos.round} Baños
            - unless propiedad.pisos.nil?
              %span
                %i.fa.fa-building-o
                #{propiedad.pisos} Pisos
            - unless propiedad.estacionamiento.nil?
              %span
                %i.fa.fa-car
                #{propiedad.estacionamiento}
                - if propiedad.tipo_de_estacionamiento.nil?
                  Estacionamiento
                - else
                  #{propiedad.tipo_de_estacionamiento}
      .property-text
        %h3
          %a{:href => "#"}= propiedad.titular
          %small
        %p= simple_format(propiedad.descripcion_publica)
        %p
          = link_to "Más detalles »", propiedad, class: 'btn btn-success'
