.col-xs-12{:style => "position: absolute; left: 0px; top: 0px;"}
  .property-container
    .property-content-list
      .row
        .col-xs-12.col-md-6
          - unless propiedad.imagenes.pluck(:created_at).max.nil?
            .property-image-list
              - if propiedad.imagenes.pluck(:created_at).max <= Date.new(2016, 3, 14)
                .add-watermark-horizontal
              - if propiedad.imagenes.any?
                = link_to propiedad do
                  %img{:alt => "#{propiedad.titular}", :src => propiedad.cover_url }

                    .property-price{:data => {:listado => propiedad.listado }, class: "propiedad-color-#{propiedad.listado} #{propiedad.dot_color}"}
                      -#%h4
                      -#  = propiedad.tipo.titulo unless propiedad.tipo.nil?
                      - if 'disponible' == propiedad.estado
                        = propiedad_all_prices(propiedad)
                      - else
                        = propiedad.estado.capitalize

                    -#- if 'disponible' != propiedad.estado
                    -#  .property-status
                    -#    %span
                    -#      = propiedad.estado.capitalize
                  - if propiedad.mensajes.present?
                    .mycarousel
                      %ul.mensajes-especiales
                        - propiedad.mensajes.each do |mensaje|
                          %li{:data => {:color => mensaje.color }}
                            = mensaje.mensaje
            -#.property-status
              -#%span= propiedad.tipo.titulo if propiedad.tipo
            .property-features{class: "propiedad-color-#{propiedad.listado}"}
              - if propiedad.area.present? && propiedad.area > 0
                %span
                  -#%i.fa.fa-home
                  = image_tag 'icons/area.png', class: 'bathroom-index', style: 'margin-bottom: 4px;'
                  #{propiedad.area} m
                  %sup 2

              - if propiedad.dormitorios.present? && propiedad.dormitorios > 0
                %span
                  %i.fa.fa-bed
                  #{propiedad.dormitorios}#{'+1' if propiedad.cuarto_de_servicio} Dormitorios
              - elsif propiedad.oficinas.present? && propiedad.oficinas > 0
                %span
                  %i.fa.fa-briefcase
                  #{propiedad.oficinas} Oficinas

              - if propiedad.banos.present? && propiedad.banos > 0
                %span
                  = image_tag 'icons/bathroom_white.png', class: "bathroom-index"
                  #{propiedad.banos.prettify} Baños

              - if propiedad.ubicado_en_piso.present? && propiedad.ubicado_en_piso > 0
                %span
                  %i.fa.fa-building-o
                  #{propiedad.ubicado_en_piso}

              - if (propiedad.estacionamiento.present? && propiedad.estacionamiento > 0)
                %span
                  %i.fa.fa-car
                  - if propiedad.estacionamiento > 0
                    = propiedad.estacionamiento
        .property-text.col-xs-12.col-md-6
          .col-xs-12
            %h3
              =link_to propiedad.titular, propiedad, class: "propiedad-text-color-#{propiedad.listado}"
              %small
            %p= truncate( strip_tags(propiedad.descripcion_publica), length: 150, :separator => ' ').gsub("↵", '')



            = link_to "Más detalles »", propiedad, class: "btn btn-success propiedad-color-#{propiedad.listado} propiedad-border-color-#{propiedad.listado}"

            .codigo #{t('propiedad.codigo')}: #{propiedad.codigo}
