.col-md-3.col-sm-6.col-xs-12
  .property-container
    .property-image
      =link_to propiedad do
        - if propiedad.imagenes.any?
          %img{:alt => "arillo real estate theme", :src => propiedad.cover_url }
          -#%img{:alt => "arillo real estate theme", :src => 'http://costa506.s3.amazonaws.com/images/18507/original/open-uri20160313-3-1mdk20k?1457857175' }
      - if 'disponible' == propiedad.estado
        .property-price{:data => {:listado => propiedad.listado }, class: "propiedad-color-#{propiedad.listado}"}
          %h4
            = listado_name(propiedad.listado) if propiedad.listado.present?
          = propiedad_all_prices(propiedad)
      - else
        .property-price{class: "propiedad-color-#{propiedad.estado}"}
          %h4
            = propiedad.estado.capitalize

      -#- if 'disponible' != propiedad.estado
      -#  .property-status
      -#    %span
      -#      = propiedad.estado.capitalize

      .mycarousel
        %ul.mensajes-especiales
          - propiedad.mensajes.each do |mensaje|
            %li{:data => {:color => mensaje.color }}
              = mensaje.mensaje

    .property-features{class: "propiedad-color-#{propiedad.listado}"}
      - if propiedad.area.present? && propiedad.area > 0
        %span
          %i.fa.fa-home
          ="#{propiedad.area.round}m"
          %sup 2

      - if propiedad.dormitorios.present? && propiedad.dormitorios > 0
        %span
          %i.fa.fa-bed
          = propiedad.dormitorios

      - if propiedad.banos.present? && propiedad.banos > 0
        %span
          = image_tag 'icons/bathroom-white.svg', class: "bathroom-index"
          = propiedad.banos.round

      - if propiedad.estacionamiento.present? && propiedad.estacionamiento > 0
        %span
          %i.fa.fa-car
          = propiedad.estacionamiento

    .property-content
      %h3
        -# if propiedad.tipo.present?
          -#%small=t(propiedad.tipo.titulo) unless propiedad.tipo.empty?
        =link_to propiedad.titular, propiedad, class: "propiedad-text-color-#{propiedad.listado}"
        %small{class: "propiedad-text-color-#{propiedad.listado}"}
          = propiedad.ubicacion

- if 0 == (propiedad_counter + 1) % 4
  .clearfix.visible-md-block.visible-lg-block
- if 0 == (propiedad_counter + 1) % 2
  .clearfix.visible-sm-block
