- content_for :full_width_header do
  #header.heading{:style => "background-image: url('#{image_path('img01.jpg')}'); background-position: 50% 0px;"}
    .container
      .row
        .col-md-10.col-md-offset-1.col-sm-12
          .page-title
            %h2
              Nuestras Propiedades
              %span
              %p
- content_for :content do
  #content
    .container
      .row
        .col-md-8.col-md-push-4
          .hidden-xs
            = render partial: "application/pagination"
          .row.container-realestate
            = render partial: "propiedades/horizontal", collection: @propiedades, as: :propiedad
          = render partial: "application/pagination"
        .col-md-4.col-md-pull-8.sidebar
          = render :partial => 'application/filters_sidebar'

