#content
  .container
    .row.single-post
      = form_for @propiedad, html: { class: 'tab-content navbar-default form-horizontal', role: 'form' } do |f|
        - if @propiedad.errors.any?
          = @propiedad.errors.full_messages.each do |msg|
            = msg
            %br

        = f.hidden_field :estatus, { value: :borrador }

        = f.fields_for :propietario do |sf|
          .form-group
            = sf.label :nombre, class: 'col-sm-2 control-label'
            .col-sm-4
              = sf.text_field :nombre, class: 'form-control'
            = sf.label :apellido, class: 'col-sm-2 control-label'
            .col-sm-4
              = sf.text_field :apellido, class: 'form-control'

          .form-group
            = sf.label :celular, class: 'col-sm-2 control-label'
            .col-sm-4
              = sf.phone_field :celular, class: 'form-control'
            = sf.label :email, class: 'col-sm-2 control-label'
            .col-sm-4
              = sf.email_field :email, class: 'form-control'

          %hr


        .form-group
          = f.label :titular, class: 'col-sm-2 control-label'
          .col-sm-10
            = f.text_field :titular, class: 'form-control'

        .form-group
          = f.label :valor_compra, class: 'col-sm-2 control-label'
          .col-sm-4
            = f.number_field :valor_compra, class: 'form-control'
          = f.label :valor_alquiler, class: 'col-sm-2 control-label'
          .col-sm-4
            = f.number_field :valor_alquiler, class: 'form-control'

        .form-group
          = f.label :listado, class: 'col-sm-2 control-label'
          .col-sm-4
            = f.select :listado, options_for_select(Propiedad.listado.options),
                       {}, class: 'form-control'

        .form-group
          .col-sm-offset-2.col-sm-10
            = f.submit class: 'btn btn-primary'
