- content_for :title do
  = "#{@propiedad.titular} - código: #{@propiedad.codigo}"

- content_for :meta_tags do
  = render partial: "application/meta_tags", locals: { title: "#{@propiedad.titular} - código: #{@propiedad.codigo}", descripcion: simple_format(@propiedad.descripcion_publica.gsub("↵", '')), image: @propiedad.cover_url, author_handle: "@Costa506"}

- content_for :full_width_header do
  #header.heading{:style => "background-image: url('#{image_path('img01.jpg')}'); background-position: 50% 0px;"}
    .container
      .row
        .col-md-10.col-md-offset-1.col-sm-12
          .page-title
            %h2
              Nuestras Propiedades
              %span
              %p

- content_for :content do
  #content.show-view
    .container
      / begin:article
      .col-md-8.col-md-push-4
        .row
          .col-md-12.single-post
            %ul#myTab.nav.nav-tabs.nav-justified
              %li.active
                %a{"data-toggle" => "tab", :href => "#detail"}
                  %i.fa.fa-university
                  General
              %li
                %a{"data-toggle" => "tab", :href => "#location"}
                  %i.fa.fa-plus
                  Solicitar Información
            #myTabContent.tab-content
              #detail.tab-pane.fade.in.active
                .row
                  .col-md-12
                    %h2{class: "propiedad-text-color-#{@propiedad.listado}"}
                      = @propiedad.titular
                      %br/
                      %small{class: "propiedad-text-color-#{@propiedad.listado}"}
                        Código: #{@propiedad.codigo}
                    #slider-property.carousel.slide{"data-ride" => "carousel"}
                      .carousel-inner
                        - unless @propiedad.imagenes.empty?
                          - @propiedad.imagenes.each_with_index do |pic, index|
                            %div{:class => "item #{'active' if index == 0}"}
                              = image_tag pic.imagen.url
                      %a.left.carousel-control{"data-slide" => "prev", :href => "#slider-property"}
                        %span.glyphicon.glyphicon-chevron-left
                      %a.right.carousel-control{"data-slide" => "next", :href => "#slider-property"}
                        %span.glyphicon.glyphicon-chevron-right
                    .row
                      .col-xs-12
                        %ol.carousel-indicators.hidden-xs
                          - unless @propiedad.imagenes.empty?
                            - @propiedad.imagenes.each_with_index do |pic, index|
                              %li{"data-slide-to" => index, "data-target" => "#slider-property"}
                                = image_tag pic.imagen.url, :class => "img-responsive"
                    %h3 General
                    .row
                      .col-xs-12.col-md-8
                        %table.table.table-bordered.table-responsive
                          %tr
                            %td{:width => "20%"}
                              %strong{class: "propiedad-text-color-#{@propiedad.listado}"}
                                Código
                            %td{class: "propiedad-text-color-#{@propiedad.listado}"}
                              = @propiedad.codigo
                          %tr
                            %td{:width => "20%"}
                              %strong Estado
                            %td= @propiedad.estado.capitalize
                          - if @propiedad.valor_compra > 0
                            %tr
                              %td
                                %strong{class: "propiedad-text-color-#{@propiedad.listado}"}
                                  Venta
                              %td{class: "propiedad-text-color-#{@propiedad.listado}"}
                                = number_to_currency(@propiedad.valor_compra, locale: @propiedad.price_locale)
                                \#{'Opción de compra' if @propiedad.opcion_compra == true}
                          - if @propiedad.valor_alquiler > 0
                            %tr
                              %td
                                %strong{class: "propiedad-text-color-#{@propiedad.listado}"}
                                  Alquiler
                              %td{class: "propiedad-text-color-#{@propiedad.listado}"}
                                = number_to_currency(@propiedad.valor_alquiler, locale: @propiedad.price_locale)

                          - if @propiedad.ubicacion.present?
                            %tr
                              %td
                                %strong Ubicación
                              %td
                                = @propiedad.ubicacion

                          - if @propiedad.area_construccion > 0 || @propiedad.area_terreno > 0
                            %tr
                              %td
                                %strong Área
                              %td
                                - if @propiedad.area_construccion > 0
                                  Construcción: #{number_to_human(@propiedad.area_construccion, precision: 1, strip_insignificant_zeros: true)}m
                                  %sup 2
                                  %br/
                                - if @propiedad.area_terreno > 0
                                  Terreno: #{number_to_human(@propiedad.area_terreno, precision: 1, strip_insignificant_zeros: true)}m
                                  %sup 2

                          - unless @propiedad.patio.nil? or @propiedad.patio == 0
                            %tr
                              %td
                                %strong Patio
                              %td
                                = @propiedad.patio_area
                                m
                                %sup 2
                          - unless @propiedad.admin.nil?
                            %tr
                              %td
                                %strong Agente
                              %td
                                - if @propiedad.admin
                                  = "#{@propiedad.admin.nombre}"
                                  %br/
                                  %span.hidden-xs= @propiedad.admin.email
                      .col-xs-12.col-md-4
                        .post-meta.description-icons
                          - if @propiedad.dormitorios.present? && @propiedad.dormitorios > 0
                            %i.fa.fa-bed
                            = pluralize(@propiedad.dormitorios, 'Dormitorio')
                            %br/

                          - if @propiedad.banos.present? && @propiedad.banos > 0
                            %i.fa.fa-male
                            = pluralize(number_to_human(@propiedad.banos, precision: 1, strip_insignificant_zeros: true), 'Baño')
                            %br/

                          - if @propiedad.pisos.present? && @propiedad.pisos > 0
                            %i.fa.fa-building-o
                            = pluralize(@propiedad.pisos, 'Piso')
                            %br/

                          - if @propiedad.estacionamiento.present? && @propiedad.estacionamiento > 0
                            %i.fa.fa-car
                            - if @propiedad.tipo_de_estacionamiento.present?
                              = @propiedad.tipo_de_estacionamiento
                              para
                            #{pluralize(@propiedad.estacionamiento, 'Carro')}
                            %br/

                    %h3 Compartir
                    = render partial: "application/social_buttons", locals: {text: "#{@propiedad.titular} - código: #{@propiedad.codigo}", title: "#{@propiedad.titular} - código: #{@propiedad.codigo}", summary: @propiedad.descripcion_publica, img: @propiedad.cover_url}

                    %h3 Descripción:
                    %p= simple_format(@propiedad.descripcion_publica.gsub("↵", ''))

                    - if @propiedad.caracteristicas.any?
                      .row
                        .col-md-4.col-sm-4
                          %h3 Características
                          %ul
                            - @propiedad.caracteristicas.each do |c|
                              %li
                                = c.titulo
                    %h3{class: "propiedad-text-color-#{@propiedad.listado}"}
                      Estado de la propiedad:
                    %p{class: "propiedad-text-color-#{@propiedad.listado}"}
                      = @propiedad.estado.capitalize
              / break
              #location.tab-pane.fade
                .row
                  .col-md-6.col-sm-6
                    %h3 ¿Le interesa esta propiedad?
                    %p Póngase en contacto con nosotros por medio de nuestro formulario o contacte a nuestro agente directamente.
                    .team-container.team-dark
                      .team-description
                        %small Agente:
                        - if @propiedad.admin
                          %h3
                            = @propiedad.admin.nombre
                          %p
                            %i.fa.fa-envelope
                            = @propiedad.admin.email
                  .col-md-6.col-sm-6
                    %br/
                    = render partial: "static_pages/form", locals: {contacto_mensaje: @contacto_mensaje}
      .col-md-4.col-md-pull-8.sidebar
        = render :partial => 'application/quick_links_sidebar'
