<%= form.file_field(field.name, field.html_attributes.reverse_merge({ multiple: true, data: { fileupload: true }})) %>

<% form.object.imagenes.each do |image| %>
  <div style="display:inline-block" class="image_form_preview"
       id="image_<%= image.id %>">
    <%= link_to(image.imagen.url, target: 'blank') do %>
      <%= image_tag(image.imagen.url(:thumb)) %>
    <% end %>
    <% if image.id.present? %>
      <p align="center">
        <%= link_to "Eliminar", destroy_image_path(:imagen, image.id), method: :delete, remote: true, data: {confirm: '¿Está seguro?'} %>
      </p>
    <% end %>
  </div>
<% end %>
