<% if form.object.persisted? %>
  <%= form.file_field(field.name, field.html_attributes.reverse_merge({ multiple: true, data: { fileupload: true }})) %>
<% else %>
  <%= form.file_field(field.name, field.html_attributes.reverse_merge({ multiple: true, data: { fileupload: true }})) %>
<% end %>

<div id="propiedad_images">
  <% form.object.imagenes.each do |image| %>
    <div class="image-form-preview" id="image_<%= image.id %>"
         data-id="<%= image.id %>">
      <%= link_to(image.imagen.url, target: 'blank') do %>
        <%= image_tag image.imagen.url(:small), class: image.id.to_s == form.object.cover ? 'cover' : '' %>
      <% end %>
      <% if image.id.present? %>
        <div class="clearfix"></div>
        <p class="pull-right" style="padding-right: 15px;">
          <%= link_to 'Cover', main_app.cover_propiedad_path(cover: image.id), remote: true %>
        </p>

        <p align="left">
          <%= link_to "Eliminar", destroy_image_path(:imagen, image.id), method: :delete, remote: true, data: {confirm: '¿Está seguro?'} %>
        </p>
        <p>
          <label for="imagen_<%= image.id %>_checkbox">
            <input id="imagen_<%= image.id %>_checkbox" type="checkbox" value="<%= image.id %>" class="delete-several" onchange="checkToDelete(this)" /> 
             Eliminar varias
          </label>
        </p>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  $(function() {
    var sortable = Sortable.create(document.getElementById('propiedad_images'), {
      onSort: function(event) {
        var items = sortable.toArray();
        for (var i = 0; i < items.length; i++) {
          $.ajax('/propiedades/update_sort_index', {
            data: {
              id: items[i],
              sort_index: i
            }
          });
        }
      }
    });
  });
</script>

<div>
  <div>
    <%= link_to "Eliminar", main_app.delete_array_imagenes_path(ids: "0"), remote: true, id: "test-link", class: "btn btn-sm btn-danger" %>
  </div>
</div>

<% if form.object.imagenes.any? %>
  <br>
  <%= link_to 'Eliminar todos', '#', id: 'delete_all_images', data: { confirm: '¿Seguro que desea borrar todas las imágenes? Esta acción es irreversible' } %>
  <!--<a id="delete_all_images" href="#">Eliminar todos</a>-->
  <script>
    $(function() { $('#delete_all_images:not(.bound)').addClass('bound').click(deleteAllImages); });
    $(document).on('pjax:complete', function() { $('#delete_all_images:not(.bound)').addClass('bound').click(deleteAllImages); });

    var deleteAllImages = function(event) {
      if (!confirm('¿Seguro que desea borrar todas las imágenes? Esta acción es irreversible')) {
        return false;
      }

      var deletePath = [
        <% form.object.imagenes.each do |image| %>
        '<%= destroy_image_path(:imagen, image.id) %>',
        <% end %>
      ];

      for (var i = 0; i < deletePath.length; i++) {
        $.ajax({
          url: deletePath[i],
          type: 'DELETE',
          beforeSend: function(xhr) {
            xhr.setRequestHeader(
                'X-CSRF-Token',
                $('meta[name=csrf-token]').attr('content')
            );
          }
        });
      }

      event.preventDefault();
      return false;
    };


    // GUAYO
    function checkToDelete(e){
      addOrRemoveFromToBeDeletedItems(e.checked, e.value);
    }

    function addOrRemoveFromToBeDeletedItems(checked, id){
      var hrefString = document.getElementById("test-link").href;
      var idsString = hrefString.split("?")[1];
      var array = idsString.split("&").map(i => i.split("=")[1].toString());
      var index = array.indexOf("0");
      if (index > -1) {
        array.splice(index, 1);
      }

      if(checked) {
        array.push(id);
      } else {
        let index = array.indexOf(id);
        if (index > -1) {
          array.splice(index, 1);
        }
      }

      var paramsString = array.filter(e => e != "").map(i => `ids[]=${i}`).join("&");
      setParamsforDeleteButton(paramsString);
    }

    function setParamsforDeleteButton(newParams){
      var button = document.getElementById("test-link");
      var oldString = button.getAttribute("href").split("?");
      oldString[1] = newParams;
      var newString = oldString.join("?");
      button.href = newString;
    }

    $('#test-link').on ('ajax:success', removeImages);

    function removeImages(event, data) {
      for (var i = 0; i < data.length; i++) {
        $( "#image_" + data[i].id).remove();
      }
    }
  </script>

  <br>

  <%= link_to 'Bajar imágenes CON marca de agua', main_app.descargar_imagenes_path(id: form.object.id, format: "large") , target: :_blank %><br/><br/><br/>
  <%= link_to 'Bajar imágenes SIN marca de agua', main_app.descargar_imagenes_path(id: form.object.id, format: "original") , target: :_blank %>
<% end %>
