/ begin:footer
#footer
  .container
    .row
      .col-md-5.col-sm-6.col-xs-12
        .widget.tipos
          %h3 Propiedades
          %ul.list-unstyled
            - Tipo.all.find_all { |t| t.propiedades.publicado.any? }.each do |tipo|
              %li
                = link_to propiedades_path(listado: :venta_alquiler, tipo: tipo.titulo) do
                  = tipo.titulo
      / break
      .col-md-4.col-sm-6.col-xs-12
        .widget
          %h3 Nuestros Agentes
          %ul.list-unstyled
            - Admin.without_permisos(:developer).for_footer.each do |admin|
              %li
                = admin.nombre
                %br
                = phone_number_link(admin.telefono)
            %li
              Oficina
              %br
              = phone_number_link("4082 7676")

      / break
      .col-md-3.col-sm-6.col-xs-12
        .widget
          = image_tag("logo-inverted.png")
          %br
          %br
          %address
            %strong= CONTACT_INFO['direccion']
            %br
              Email : #{email_link(CONTACT_INFO['email'])}
              %br/
              %br/
              %strong Teléfonos:
              %br/
              - CONTACT_INFO['telefonos'].each do |member|
                %div
                  %abbr{:title => "Phone"}
                  = phone_number_link(member['numero'])
      / break
    / break
    / begin:copyright
    .row
      .col-md-12.copyright
        %ul.list-inline.social-links
          - CONTACT_INFO['redes_sociales'].each do |link|
            %li
              %a{:class => "icon-#{link['nombre']}", "data-original-title" => link['nombre'].titleize, "data-placement" => "bottom", :href => link['url'], :rel => "tooltip", :title => ""}
                %i{:class => "fa fa-#{link['icon']}"}
        %p Copyright &copy; 2015 Costa 506 Real Estate. Todos los derechos reservados.
        %p
          Powered by
          %strong
            %a{:href => "http://tigerkissdesign.com", :target => "_blank"} TigerKiss Design.
        %a.btn.btn-success.scroltop{:href => "#top"}
          %i.fa.fa-angle-up
    / end:copyright
/ end:footer
