#header.header-slide
  .container
    .row
      .col-md-5
        .quick-search
          .row
            %form{:method => "GET", :role => "form", action: propiedades_path}
              .col-md-6.col-sm-6.col-xs-6
                .form-group
                  %label{for: :listado}= t(:listado)
                  = select_tag :listado, 
                               options_for_select([['cualquier...', nil]] + Propiedad.listado.options, params[:listado]), 
                               class: 'form-control'
                .form-group
                  %label{for: :tipo}= t(:tipo)
                  = select_tag :tipo, 
                               options_for_select([['cualquier...', nil]] + Tipo.pluck(:titulo), params[:tipo]), 
                               class: 'form-control'
                .form-group
                  %label{for: :dormitorios}= t(:dormitorios)
                  = select_tag :dormitorios, 
                               options_for_select(Propiedad.pluck(:dormitorios).sort, params[:dormitorios]), 
                               class: 'form-control'
                .form-group
                  %label{:for => "country"} Country
                  %select.form-control
                    %option Australia
                    %option Indonesia
                    %option Japan
                    %option South Korea
                    %option China
              .col-md-6.col-sm-6.col-xs-6
                .form-group
                  %label{for: :estado}= t(:estado)
                  = select_tag :estado, 
                               options_for_select([['cualquier...', nil]] + Propiedad.estado.options, params[:estado]), 
                               class: 'form-control'
                .form-group
                  %label{for: :tipo_de_estacionamiento}= t(:estacionamiento)
                  = select_tag :tipo_de_estacionamiento, 
                               options_for_select([['cualquier...', nil]] + Propiedad.tipo_de_estacionamiento.options, params[:tipo_de_estacionamiento]), 
                               class: 'form-control'
                .form-group
                  %label{for: :banos}= t(:banos)
                  = select_tag :banos, 
                               options_for_select(Propiedad.pluck(:banos).map(&:to_i).sort, params[:banos]), 
                               class: 'form-control'
                .form-group
                  %label{:for => "location"} Location
                  %select.form-control
                    %option Tasmania
                    %option Yogyakarta
                    %option Tokyo
                    %option Busan
                    %option Taipe
              .col-md-6.col-sm-6.col-xs-6
                .form-group
                  %label{:for => "minprice"} Min Price
                  %select.form-control
                    %option $4,200
                    %option $6,700
                    %option $8,150
                    %option $11,110
              .col-md-6.col-sm-6.col-xs-6
                .form-group
                  %label{:for => "maxprice"} Max Price
                  %select.form-control
                    %option $8,200
                    %option $11,700
                    %option $14,150
                    %option $21,110
              .col-md-12.col-sm-12.col-xs-12
                .form-group
                  %label{for: 'keywords'}= t(:keywords)
                  %input.form-control{type: 'search', name: 'keywords', value: params[:keywords]}
              .col-md-12.col-sm-12
                %input.btn.btn-success.btn-lg.btn-block{:type => "submit", :value => "Search"}/