<!-- begin:partner -->
<div id="partner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading-title bg-white">
          <h2>Our Partnership</h2>
        </div>
      </div>
    </div>
    <!-- break -->

    <div class="row">
      <div class="col-md-12">
        <div class="jcarousel-wrapper">
          <div class="jcarousel">
            <ul>
              <li>
                <a href="#">
                  <%= image_tag("img01.jpg") %>
                </a>
              </li>
              <li><a href="#"><%= image_tag("img02.jpg") %></a></li>
              <li><a href="#"><%= image_tag("img03.jpg") %></a></li>
              <li><a href="#"><%= image_tag("img04.jpg") %></li>
              <li><a href="#"><%= image_tag("img05.jpg") %></a></li>
              <li><a href="#"><%= image_tag("img06.jpg") %></a></li>
            </ul>
          </div>
          <a href="#" class="jcarousel-control-prev"><i class="fa fa-angle-left"></i></a>
          <a href="#" class="jcarousel-control-next"><i class="fa fa-angle-right"></i></a>
          <!-- <p class="jcarousel-pagination"></p> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end:partner -->