!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "Put Meta Data here", :name => "description"}
    %meta{:content => "Guayo Mena", :name => "author"}
    -#%link{:href => "images/favicon.png", :rel => "shortcut icon"}

    %title Costa506

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

%body#top
  = render "application/navbar"
  = yield :full_width_header

  - if notice.present?
    .alert.alert-info.alert-dismissible
      %button.close{ data: { dismiss: 'alert' } }
        &times;

      = notice

  - if alert.present?
    .alert.alert-danger.alert-dismissible
      %button.close{ data: { dismiss: 'alert' } }
        &times;

      = alert

  = content_for?(:content) ? yield(:content) : yield
  = render "application/footer"
