!!!
%html{:lang => "en", manifest: '/offline.appcache'}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "Si está buscando propiedades en venta o alquiler en Costa Rica, Costa 506 es el lugar correcto.", :name => "description"}
    %meta{:content => "Costa 506", :name => "author"}
    %meta{:content => "vdLMMOZytK8_f9EqtFuyZgvUkvGjqWbllc_GTuw_LGM", :name => "google-site-verification"}/
    -#%link{:href => "images/favicon.png", :rel => "shortcut icon"}

    %title 
      = yield :title
      = content_for?(:title) ? " | ":""
      Costa506

    = yield :meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

%body#top
  = render "application/navbar"
  = yield :full_width_header

  - if notice.present?
    .alert.alert-info.alert-dismissible
      %button.close{ data: { dismiss: 'alert' } }
        &times;

      = notice

  - if alert.present?
    .alert.alert-danger.alert-dismissible
      %button.close{ data: { dismiss: 'alert' } }
        &times;

      = alert

  = content_for?(:content) ? yield(:content) : yield
  = render "application/footer"
