!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "IE=Edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "vdLMMOZytK8_f9EqtFuyZgvUkvGjqWbllc_GTuw_LGM", :name => "google-site-verification"}/
    = favicon_link_tag

    %title
      = yield :title
      = content_for?(:title) ? " | ":""
      Costa506 Real Estate

    - if Rails.env.production?
      / Facebook Pixel Code
      :javascript
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window,document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1843959702324485'); 
        fbq('track', 'PageView');
      %noscript
        %img{:height => "1", :src => "https://www.facebook.com/tr?id=1843959702324485&ev=PageView\nhttps://www.facebook.com/tr?id=1843959702324485&ev=PageView\n\n&noscript=1", :width => "1"}/
      / End Facebook Pixel Code
      %script{type: "text/javascript"}
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-88030533-1', 'auto');
    = yield :meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

%body#top
  = render 'application/fbsdk'
  = render 'application/navbar'
  = yield :full_width_header

  - if notice.present?
    .alert.alert-info.alert-dismissible
      %button.close{ data: { dismiss: 'alert' } }
        &times;

      = notice

  - if alert.present?
    .alert.alert-danger.alert-dismissible
      %button.close{ data: { dismiss: 'alert' } }
        &times;

      = alert

  = content_for?(:content) ? yield(:content) : yield
  = render "application/footer"
  - if Rails.env === 'production'
    = render "application/fb_pixel"
